#sidebar {
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  backdrop-filter: blur(200px);
  border-top: var(--border-width) solid var(--color-border);
  border-bottom: var(--border-width) solid var(--color-border);
}

.favorites {
  margin: 0px;
  color: var(--color-text-light);
  padding: 8px 10px 4px 10px;
  font-weight: 500;
}
