%menu-bar-button {
  background: var(--button-background);
  height: var(--button-height);
  border-radius: var(--button-border-radius);
  color: var(--color-text-lighter);
  box-shadow: var(--button-shadow);
}
