#files {
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 40px;
  grid-template-columns: repeat(auto-fill, 75px);
  grid-auto-rows: 75px;
  justify-content: space-evenly;

  padding: 15px 10px;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background: var(--color-background);
  border: var(--border-width) solid var(--color-border);
  border-right: none;

  .folder,
  .file {
    font-size: 7px;
    color: var(--color-text-light);

    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: 7px;
  }

  .icon {
    background-size: contain;
    background-repeat: no-repeat;
    width: 75px;
    height: 65px;
  }

  .folder.icon {
    background-image: url(./folder.png);
  }

  .file.icon {
    background-image: url(./textfile.png);
    margin-left: 10px;
  }

  .folder-name,
  .file-name {
    justify-self: center;
    font-size: 12px;
  }

  .icon-wrapper {
    border-radius: var(--button-border-radius);
    padding: 10px 2px 5px 2px;
  }

  .folder.active .icon-wrapper,
  .file.active .icon-wrapper {
    background: #e6e6e6;
  }

  .folder.active .folder-name,
  .file.active .file-name {
    color: var(--color-background);
    background: var(--color-primary-bolder);
    padding: 2px 4px;
    border-radius: var(--button-border-radius);
  }
}
