.icons-size-slider {
  width: 100%;
  max-width: 80px;
  height: 4px;
  border-radius: 30px;
  background: var(--color-border);
  margin-top: 2px;

  .thumb {
    text-align: center;
    background: var(--button-background);
    border-radius: 50%;
    height: 12px;
    width: 12px;
    cursor: pointer;
    box-shadow: 0 0 1px 0 #3c3c3c;
    top: -3.8px;

    &:focus {
      outline: none;
      border-radius: 50%;
    }
  }

  .progress {
    position: relative;
    height: 4px;
    border-radius: 30px;
  }

  .progress.progress-0 {
    background: var(--color-primary-bold);
  }
}
