:root {
  --color-background: white;
  --color-shadow: #6f6f6f;
  --color-primary: #7ad3fa;
  --color-primary-bold: #3c88fd;
  --color-primary-bolder: #0263e1;
  --color-button-green: #29c93f;
  --color-button-light-green: rgb(3 105 3 / 10%);
  --color-button-bold-green: rgb(26 88 26);
  --color-button-orange: #ffbd2d;
  --color-button-light-orange: rgb(195 131 19 / 10%);
  --color-button-bold-orange: rgb(117 78 10);
  --color-button-red: #ff6058;
  --color-button-light-red: rgb(105 11 10 / 10%);
  --color-button-bold-red: rgb(105 11 10);
  --color-text: black;
  --color-text-soft: #2b2b2b;
  --color-text-light: #4c4c4c;
  --color-text-lighter: #929292;
  --color-border: #a9a9a9;
  --color-border-light: #6868682e;
  --color-gradient-background: linear-gradient(
    360deg,
    #dee1e1 10%,
    #f4f4f4 360%
  );

  --modal-shadow: 0px 4px 9px 0px #9e9e91;
  --modal-background: #e6e6e680;

  --button-shadow: 0 0 0.3px 0.3px #b2b2b2;
  --border-width: 0.5px;
  --button-height: 23px;
  --button-background: #f6f6f6;
  --button-border-radius: 3px;

  --icon-size: 75px;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.01px;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.01px;
}

button:focus,
.icons-size-slider:focus {
  outline: 0;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.01px;
}
